{% extends 'tasks/base.html' %}
{% block content %}
    <h2>Task list</h2>
    <a href="{% url 'task_create' %}">Create task</a>
    <ul>
        {% for task in tasks %}
        <li>
            <strong>{{ task.title }}</strong> ({{ task.status }})
            - Deadline: {{ task.deadline }}
            <br>
            <a href="{% url 'task_update' task.id %}">Update task</a>
            <a href="{% url 'task_delete' task.id %}">Delete task</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}